<template>
<div class="movie" v-if="movie.ID">
 <div class="container-fluid">
  <div class="row">

    <div class="col-sm-4">
       <b-img :src="movie.Img" fluid alt="Responsive image"></b-img>
    </div>
    <div class="col-sm-7">
        <h2>{{movie.TitleRu}} <br/><small class="text-secondary">{{movie.Title}}</small></h2>
          <ul class="list-unstyled" v-if="movie.Ratings">
            <li v-if="movie.Ratings.imdb"><img src="/img/svg/imdb.svg" alt="Оценка фильма IMDB" style="width: 30px" class="mr-1"><span>{{movie.Ratings.imdb / 10}}</span></li>
          </ul>
        {{movie.Year}}, {{cnlist()}}, {{gnlist()}}
<dl>
  <dt class="text-secondary">Актеры</dt>
  <dd class="">          
    <span v-for="item of movie.Actors" :key="item.ID">
       <router-link class="mr-3" :to="'/people/'+item.ID">{{item.NameRu}}</router-link>
    </span>
  </dd>
  <dt class="text-secondary">Режиссер</dt>
  <dd class="">          
    <span v-for="item of movie.Directors" :key="item.ID">
       <router-link class="mr-3" :to="'/people/'+item.ID">{{item.NameRu}}</router-link>
    </span>
  </dd>
  <dt class="text-secondary">Сценарий</dt>
  <dd class="">          
    <span v-for="item of movie.Creators" :key="item.ID">
       <router-link class="mr-3" :to="'/people/'+item.ID">{{item.NameRu}}</router-link>
    </span>
  </dd>
</dl>    
<p>
      {{movie.DescriptionRu}}
</p>      

 <b-table hover :items="movie.Sources" :fields="sfields" table-variant="dark" small>
    <template v-slot:cell(Progress)="data">
        {{(data.item.BytesCompleted * 100.0 / data.item.Length).toFixed(2)}} %
    </template>

    <template v-slot:cell(Size)="data">
        {{fs(data.item.Length)}}
    </template>

    <template v-slot:cell(Name)="data">
        {{data.item.Name}} <br/><small>видео: {{data.item.VideoDesc}}</small><br/><small>аудио: {{data.item.AudioDesc}}</small>
    </template>

    <template v-slot:cell(Status)="data">
        <a href="javascript:void(0)" v-if="data.item.Status==='stopped'" @click="startSource(data.item)">start</a>
        <a href="javascript:void(0)" v-if="data.item.Status==='downloading'" @click="stopSource(data.item)">stop</a>
        {{data.item.Status}}
    </template>

 </b-table>
    </div>    
    <div class="col-sm-1 text-right">
      <h3 @click.once="close1" style="cursor:pointer;">X</h3>      
    </div>
</div>

</div>
</div>
</template>
<style>
  .movie{position: absolute;top:0;left:0;bottom:0;right:0;z-index: 10001;background: rgba(15,15,15,.99)}
</style>
<script>
const Text = {
  movies: {
    genres: {
      'action': {ru: 'Боевик', en: 'Action'},
      'adventure': {ru: 'Приключения', en: 'Adventure'},
      'biography': {ru: 'Биография', en: 'Biography'},
      'animation': {ru: 'Анимация', en: 'Animation'},
      'comedy': {ru: 'Комедия', en: 'Comedy'},
      'crime': {ru: 'Криминал', en: 'Crime'},
      'drama': {ru: 'Драма', en: 'Drama'},
      'family': {ru: 'Семейный', en: 'Family'},
      'fantasy': {ru: 'Фэнтази', en: 'Fantasy'},
      'horror': {ru: 'Ужасы', en: 'Horror'},
      'mystery': {ru: 'Мистерия', en: 'Mistery'},
      'sci-fi': {ru: 'SciFi', en: 'Sci-Fi'},
      'thriller': {ru: 'Триллер', en: 'Thriller'},
      'war': {ru: 'Военный', en: 'War'}
    },
    countries: {
      'us': {ru: 'США', en: 'USA'},
      'nz': {ru: 'Новая Зеландия', en: 'New Zeland'},
      'cz': {ru: 'Чехия', en: 'Chech'},
    }
  }
}
const Humanize = require('humanize-plus');
let Tm = null
export default {
  name: 'movie',
  props: ['query'],
  watch: {
    '$route' (to) {
      if (to.name === 'movie') {
        console.log('route')
      }
    }
  },
  mounted () {
    console.log('mounted movie')
    window.addEventListener("keyup", this.close,{once:true});
    this.meta = this.$root.meta.movies
    this.getmovie()
  },
  methods:{
    fs(s) {
      return Humanize.filesize(s)
    },
    close1(){
      window.removeEventListener("keyup", this.close,{once:true});
      this.$router.back()
    },
    close(e){
      if(e.code=="Escape") {
        window.removeEventListener("keyup", this.close,{once:true});
        this.$router.back()
      } 
    },
    getmovie() {
      clearTimeout(Tm)
      fetch('/api/movies/'+ this.$route.params.id)
      .then(response => response.json()) 
      .then(data => {
        this.movie = data
        //Tm = setTimeout(this.getmovie(),5000)
      })
      .catch(error => console.log({error}))
      },
    cnlist() {
      //console.log(this.movie.Countries)
      return this.movie.Countries.map(item=>Text.movies.countries[item].ru).join(',')
    },
    gnlist() {
      return this.movie.Genres.map(item=>Text.movies.genres[item].ru).join(', ')
    },
    startSource (item) {
      fetch('/api/sources/'+item.ID+'/start', {method: 'PUT'})
      .then(response => response.json()) 
      .then(data => console.log(data))
      .catch(error => console.log({error}))
      Tm = setTimeout(this.getmovie(),1000)

    },
    stopSource (item) {
      fetch('/api/sources/'+item.ID+'/stop', {method: 'PUT'})
      .then(response => response.json()) 
      .then(data => console.log(data))
      .catch(error => console.log({error}))
      Tm = setTimeout(this.getmovie(),1000)
    },
  },
  data () {
    return {
      movie: {},
      meta: {},
      sfields:[
        { key: 'Quality', sortable: true, label: "Качество" },
        { key: 'Name', sortable: true, label: "Торрент" },
        { key: 'Size', sortable: true, label: "Размер" },
        { key: 'Progress', sortable: true, label: "Загружено" },
        { key: 'Status', sortable: true, label: "Статус" },
      ]
    }
  }
}

</script>
